auth-client/node_modules/
auth-client/yarn.lock
auth-client/.env
/node_modules/
yarn.lock
.env


auth-api/node_modules
auth-api/public/hot
auth-api/public/storage
auth-api/storage/*.key
auth-api/vendor
auth-api/.env
auth-api/.env.backup
auth-api/.phpunit.result.cache
auth-api/docker-compose.override.yml
auth-api/Homestead.json
auth-api/Homestead.yaml
auth-api/npm-debug.log
auth-api/yarn-error.log
auth-api/.idea
auth-api/.vscode
